.form-common {
  margin-top: 15px;
  width: 100%;
}
.input-common {
  width: 100%;
}
.select-common {
  width: 100%;
}
.pagingSelect-common {
  width: 100.1%;
}
.textarea-row {
  margin-bottom: 13px;
}
.textarea-row-space {
  margin-bottom: 38px;
}
.textarea-common {
  width: 99.2%;
  height: 80px;
}
.textarea-one {
  width: 99.6%;
  height: 80px;
}
.upload-common {
  width: 150px;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  .upload-icon {
    font-size: 28px;
    color: #8c939d;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
  }
}
